.module-div {
  display: flex;
  flex-direction: column;
}

.module-list-container {
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  border-radius: 0% !important;
  width: auto;
  background-color: white;
}

.module-list-container .list-group-item {
  background-color: white;
}

.module-list-header {
  margin-top: 15px;
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1;
  padding: 12px 6px;
  color: var(--ic-brand-font-color-dark);
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.module-list-container .module-list-item .module-list-item-content {
  background-color: white;
  /* border: 1px solid #c7cdd1; */
  position: relative;
  display: flex;
  text-align: left;
}